@mixin uiColors($medium: '') {
  @each $key, $value in getUIColors() {
    .ui#{$medium}__#{$key}Color,
    .ui#{$medium}Hover__#{$key}Color:hover {
      &, a {
        color: #{uiColor($key)};
      }
      path:not([fill=none]),
      svg *:not([fill=none]) {
        fill: #{uiColor($key)};
      }
    }

    .ui#{$medium}Border__#{$key}Color,
    .ui#{$medium}BorderHover__#{$key}Color:hover {
      border-color: #{uiColor($key)};
    }

    .uiBorder__tranparent,
    .uiBorderHover__tranparent:hover {
      border-color: transparent;
    }

    .ui#{$medium}Bg__#{$key}Color,
    .ui#{$medium}BgHover__#{$key}Color:hover {
      background-color: #{uiColor($key)};
    }

    .uiBorder#{$medium}__#{$key}Color,
    .uiBorderHover#{$medium}__#{$key}Color:hover {
      border-color: #{uiColor($key)};
    }

    .ui#{$medium}__color_on_#{$key},
    .ui#{$medium}Hover__color_on_#{$key}:hover {
      &, a {
        color: #{uiColor($key, 2)};
      }
      path:not([fill=none]),
      svg *:not([fill=none]) {
        fill: #{uiColor($key, 2)};
      }
    }
  }
}
