.ui__inputWrap {

  .ui__input {
    position: relative;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 3px;
    transition: border .3s;

    .ui__inputLabel {
      position: absolute;
      left: 10px;
      background: #fff;
      padding: 0 4px;
      top: 10px;
      transition: top .2s ease-out;

      &.visible {
        top: -9px;
      }
    }

    .ui__inputField {
      background: transparent;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      outline: none !important;
      border: none;
      font-family: inherit;
      color: inherit;
      font-size: inherit;

      &[disabled] {
        cursor: not-allowed;
      }
    }
  }

  .ui__inputAlert {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
}
