.ui__button {
  background: none;
  outline: none !important;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 3px;
  transition: transform .05s;

  &.ui__button_sm {
    padding: 8px;
    font-size: 14px;
  }

  &.ui__button_xs {
    padding: 5px;
    font-size: 12px;
  }

  &.ui__button_lg {
    font-size: 20px;
  }

  &.ui__button_default {
    font-size: 16px;
  }

  &:active {
    transform: scale(.98);
  }

  &:not([disabled]) {
    cursor: pointer;
  }
}
