.ui__filePicker {

  .ui__filePickerDisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s;
    z-index: 999999999999999999;
    display: flex;

    &.open {
      transform: scaleY(1);
    }

    .ui__filePickerDisplayInner {
      margin: auto;
      width: 90%;
      height: 90%;
      max-width: 800px;
      max-height: 500px;
      background: #fff;
    }
  }
}
