.ui__dropdown {
  position: relative;

  .ui__dropdownTray {
    transition: transform .3s;
    transform: scaleY(1);
    transform-origin: top;
    position: absolute;
    top: 100%;
    background: #fff;

    &:not(.open) {
      transform: scaleY(0);
    }

    &.align__right {
      left: 0;
    }

    &.align__left {
      right: 0;
    }
  }
}
